body {
    --lumo-font-family: "Times New Roman";
}

.edit-icon {
    fill: purple;
}

.edit-icon.edit-icon-empty {
    fill: brown;
}

.edit-icon.edit-icon-custom {
    fill: lime;
}

.edit-icon.edit-icon-template {
    fill: orange;
}

.required-icon {
    color: orange;
}

.required-icon {
    color: pink;
}

.title.title__medium {
    color: limegreen;
}
