body {
    --lumo-font-family: "Times New Roman";
}

.edit-icon {
    fill: purple;
}

.required-icon {
    color: orange;
}

.required {
    color: pink;
}

.title.title__medium {
    color: limegreen;
}
