body {
    --lumo-font-family: "Times New Roman";
    --field-background-color: lightblue !important;
    --header-menubar--text-color: purple !important;
    --fastentry-treegrid-label-color: pink !important;
    --required-icon-color: red !important;
    --required-selected-icon-color: green !important;
    --fastentry-treegrid-label-color: green !important;
    --fastentry-treegrid--active-label-color: brown !important;
    --fastentry-treegrid--active-background-color: yellow !important;
}

/* .edit-icon {
    fill: purple;
}

.edit-icon.edit-icon-empty {
    fill: brown;
}

.edit-icon.edit-icon-custom {
    fill: lime;
}

.edit-icon.edit-icon-template {
    fill: orange;
}

.required-icon {
    color: orange;
}

.required-icon {
    color: pink;
}

.title.title__medium {
    color: limegreen;
}

#fastentry-header {
    background-image: none;
    background-color: #006B88;
} */
